+ Apps/WebServices/WSA.0025/A_OAA_MFG_Plan_v01_WS/WSDL/A_OAA_MFG_Plan_v01.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.aztpa.ru/a/oaa/mfg/plan/v01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A_OAA_MFG_Plan_v01"
	targetNamespace="http://www.aztpa.ru/a/oaa/mfg/plan/v01/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.aztpa.ru/a/oaa/mfg/plan/v01/">
			<xsd:element name="createPlan">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="plan" type="tns:Plan" minOccurs="1"
							maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="createPlanResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:ActionResult"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="findPlannedFgListByProfile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="profile" type="tns:PlannedFgProfile"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="findPlannedFgListByProfileResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="plannedFgList" type="tns:PlannedFgList"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="PlanRow">
				<xsd:sequence>
					<xsd:element name="itemCode" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemFigure" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemName" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="month1Quantity" type="xsd:double"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="month2Quantity" type="xsd:double"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="month3Quantity" type="xsd:double"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="orderCardNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shipOrderNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="engResolution" type="tns:EngResolution"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EngResolution">
				<xsd:sequence>
					<xsd:element name="resolutionNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="resolutionDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="designDurationInDays" type="xsd:int"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PlanRows">
				<xsd:sequence>
					<xsd:element name="planRow" type="tns:PlanRow"
						minOccurs="1" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Plan">
				<xsd:sequence>
					<xsd:element name="planIDD" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="planName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="planType" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="УРП"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="planPeriod" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="approvedByODP" minOccurs="1"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"></xsd:enumeration>
								<xsd:enumeration value="N"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="approvedBySPK" minOccurs="1"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"></xsd:enumeration>
								<xsd:enumeration value="N"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="planRows" type="tns:PlanRows"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ActionResult">
				<xsd:sequence>
					<xsd:element name="status" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="SUCCESS"></xsd:enumeration>
								<xsd:enumeration value="ERROR"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="errorCode" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="message" type="xsd:string"
						minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="FinishedGood">
				<xsd:sequence>
					<xsd:element name="itemFigure" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemCode" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemName" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PlannedFg">
				<xsd:sequence>
					<xsd:element name="finishedGood" type="tns:FinishedGood"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="completionDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="planName" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PlannedFgList">
				<xsd:sequence>
					<xsd:element name="plannedFg" type="tns:PlannedFg"
						minOccurs="0" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PlannedFgProfile">
				<xsd:sequence>
					<xsd:element name="planName" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>

					<xsd:element name="CompletionDateAfter" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="CompletionDateBefore" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="createPlanRequest">
		<wsdl:part element="tns:createPlan" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="createPlanResponse">
		<wsdl:part element="tns:createPlanResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="findPlannedFgListByProfileRequest">
		<wsdl:part name="parameters" element="tns:findPlannedFgListByProfile"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="findPlannedFgListByProfileResponse">
		<wsdl:part name="parameters" element="tns:findPlannedFgListByProfileResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="PlanPortType">
		<wsdl:operation name="createPlan">
			<wsdl:input message="tns:createPlanRequest" />
			<wsdl:output message="tns:createPlanResponse" />
		</wsdl:operation>
		<wsdl:operation name="findPlannedFgListByProfile">
			<wsdl:input message="tns:findPlannedFgListByProfileRequest"></wsdl:input>
			<wsdl:output message="tns:findPlannedFgListByProfileResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="PlanBindingSOAP" type="tns:PlanPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createPlan">
			<soap:operation soapAction="http://www.aztpa.ru/a/oaa/mfg/plan/v01/createPlan" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findPlannedFgListByProfile">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/plan/v01/findPlannedFgListByProfile" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="Plan">
		<wsdl:port binding="tns:PlanBindingSOAP" name="PlanSOAP">
			<soap:address location="http://webserv.aztpa.ru:13001/A_OAA_MFG_Plan_v01/Plan" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
