@apps@/WebServices/WSA.0027/A_OAA_ENG_BOM_v01/WSDL/A_OAA_ENG_BOM_v01.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.aztpa.ru/a/oaa/eng/bom/v01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A_OAA_ENG_BOM_v01"
	targetNamespace="http://www.aztpa.ru/a/oaa/eng/bom/v01/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.aztpa.ru/a/oaa/eng/bom/v01/">
			<xsd:element name="makeBomForFgList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fgList" type="tns:PlannedFgList"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="makeBomForFgListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:ActionResult"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="FinishedGood">
				<xsd:sequence>
					<xsd:element name="figure" type="xsd:string" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemName" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="PlannedFg">
				<xsd:sequence>
					<xsd:element name="finishedGood" type="tns:FinishedGood"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="completionDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="plan" type="tns:Plan" minOccurs="1"
						maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PlannedFgList">
				<xsd:sequence>
					<xsd:element name="plannedFg" type="tns:PlannedFg"
						minOccurs="0" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ActionResult">
				<xsd:sequence>
					<xsd:element name="status" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="SUCCESS"></xsd:enumeration>
								<xsd:enumeration value="ERROR"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="returnCode" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="message" type="xsd:string"
						minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Plan">
				<xsd:sequence>
					<xsd:element name="planName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="approvedByODP" minOccurs="1"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"></xsd:enumeration>
								<xsd:enumeration value="N"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="approvedBySPK" minOccurs="1"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Y"></xsd:enumeration>
								<xsd:enumeration value="N"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="makeBomForFgListRequest">
		<wsdl:part element="tns:makeBomForFgList" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="makeBomForFgListResponse">
		<wsdl:part element="tns:makeBomForFgListResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="BOMPortType">
		<wsdl:operation name="makeBomForFgList">
			<wsdl:input message="tns:makeBomForFgListRequest" />
			<wsdl:output message="tns:makeBomForFgListResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="BOMBindingSOAP" type="tns:BOMPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="makeBomForFgList">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/eng/bom/v01/makeBomForFgList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="BOM">
		<wsdl:port binding="tns:BOMBindingSOAP" name="BOMPort">
            <!-- http://localhost:7001/A_OAA_ENG_BOM_v01/BOM -->
			<soap:address location="http://webserv.aztpa.ru:13001/A_OAA_ENG_BOM_v01/BOM" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
