@apps@/WebServices/WSA.0020/A_VFP_MFG_MasterOperations_v01_WS/WSDL/A_VFP_MFG_MasterOperations_v01.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.aztpa.ru/a/vfp/mfg/MasterOperations/v01/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="A_VFP_MFG_MasterOperations_v01" targetNamespace="http://www.aztpa.ru/a/vfp/mfg/MasterOperations/v01/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.aztpa.ru/a/vfp/mfg/MasterOperations/v01/">
			<xsd:element name="validateOperations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" minOccurs="0"
							maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="validateOperationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:Result"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Result">
				<xsd:sequence>
					<xsd:element name="resultCode" type="xsd:int"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="resultDescription" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="errors" type="tns:Errors" minOccurs="0"
						maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Errors">
				<xsd:sequence>
					<xsd:element name="error" type="tns:Error" minOccurs="0"
						maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="wrongOperationList">
				<xsd:sequence>
					<xsd:element name="wrongOperation" type="xsd:string"
						minOccurs="0" maxOccurs="unbounded">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:int" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="errorDescription" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="wrongOperations" type="tns:wrongOperationList"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="validateOperationsRequest">
		<wsdl:part element="tns:validateOperations" name="parameters" />
	</wsdl:message>
	<wsdl:message name="validateOperationsResponse">
		<wsdl:part element="tns:validateOperationsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="MasterOperationsPort">
		<wsdl:operation name="validateOperations">
			<wsdl:input message="tns:validateOperationsRequest" />
			<wsdl:output message="tns:validateOperationsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MasterOperationsSOAP" type="tns:MasterOperationsPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="validateOperations">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/vfp/mfg/MasterOperations/v01/validateOperations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MasterOperations">
		<wsdl:port binding="tns:MasterOperationsSOAP" name="A_VFP_MFG_MasterOperations_v01SOAP">
			<soap:address
				location="http://lptest11.aztpa.ru:10102/A_VFP_MFG_MasterOperations_v01/MasterOperations" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
