@apps@/WebServices/WSA.0029/A_OAA_MFG_WipPlan_v01_WS/WSDL/A_OAA_MFG_WipPlan_v01.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.aztpa.ru/a/oaa/mfg/wipplan/v01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A_OAA_MFG_WipPlan_v01"
	targetNamespace="http://www.aztpa.ru/a/oaa/mfg/wipplan/v01/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.aztpa.ru/a/oaa/mfg/wipplan/v01/">
			<xsd:element name="createWipPlan">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="shop" type="tns:Shop" minOccurs="1"
							maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createWipPlanResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="tns:ActionResult"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Shop">
				<xsd:sequence>
					<xsd:element name="organizationCode" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="shopCode" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shopName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ActionResult">
				<xsd:sequence>
					<xsd:element name="status" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="SUCCESS"></xsd:enumeration>
								<xsd:enumeration value="ERROR"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="returnCode" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="message" type="xsd:string"
						minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="createWipPlanRequest">
		<wsdl:part element="tns:createWipPlan" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="createWipPlanResponse">
		<wsdl:part element="tns:createWipPlanResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="WipPlanPortType">
		<wsdl:operation name="createWipPlan">
			<wsdl:input message="tns:createWipPlanRequest" />
			<wsdl:output message="tns:createWipPlanResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="WipPlanBindingSOAP" type="tns:WipPlanPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createWipPlan">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/wipplan/v01/createWipPlan" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="WipPlan">
		<wsdl:port binding="tns:WipPlanBindingSOAP" name="WipPlanPortSOAP">
			<soap:address <!-- http://localhost:7001/A_OAA_MFG_WipPlan_v01/WipPlan -->
				location="http://webserv.aztpa.ru:13001/A_OAA_MFG_WipPlan_v01/WipPlan" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
