@apps@/WebServices/WSA.0019/A_OAA_MFG_ShiftJob_v03_WS/WSDL/A_OAA_MFG_ShiftJob_v03.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A_OAA_MFG_ShiftJob_v03"
	targetNamespace="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/">
			<xsd:element name="findWorkSheetListByProfile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="workSheetNum" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="department" type="xsd:string"
							minOccurs="0" maxOccurs="1" />
						<xsd:element name="shiftNum" type="xsd:int" minOccurs="0"
							maxOccurs="1">
						</xsd:element>
						<xsd:element name="afterDate" type="xsd:dateTime"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="beforeDate" type="xsd:dateTime"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="employeeTabNum" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="employeeLastName" type="xsd:string"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="findWorkSheetListByProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="workSheetSummary" type="tns:WorkSheetSummary"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getWorkSheetDetailById">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="workSheetId" type="xsd:long"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getWorkSheetDetailByIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="workSheetDetail" type="tns:WorkSheetDetail"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="updateQuantity">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="workSheetId" type="xsd:long"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="lineNum" type="xsd:int" minOccurs="1"
							maxOccurs="1">
						</xsd:element>
						<xsd:element name="acceptedQnt" type="xsd:double"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="wasteQnt" type="xsd:double"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="updateQuantityResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="actionResult" type="tns:ActionResult"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="findShiftJobListByProfile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="departament"
							type="xsd:string" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="dateAfter"
							type="xsd:dateTime" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="dateBefore"
							type="xsd:dateTime" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="shiftJobNum"
							type="xsd:string" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="shiftNum"
							type="xsd:string" minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="findShiftJobListByProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="shiftJobSummary" type="tns:ShiftJobSummary" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getShiftJobDetailByNum">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="shiftJobNum" type="xsd:string"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getShiftJobDetailByNumResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="shiftJob" type="tns:ShiftJob"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Item">
				<xsd:sequence>
					<xsd:element name="itemNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="drawNum" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="itemName" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Worker">
				<xsd:sequence>
					<xsd:element name="personId" type="xsd:long" minOccurs="1"
						maxOccurs="1"></xsd:element>
					<xsd:element name="tabNum" type="xsd:string" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="lastName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="firstName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="middleName" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SheetLine">
				<xsd:sequence>
					<xsd:element name="sheetLineId" type="xsd:long"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="sheetLineNum" type="xsd:int"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="operationStdName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="item" type="tns:Item" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="plannedQnt" type="xsd:double"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="acceptedQnt" type="xsd:double"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="rejectedQnt" type="xsd:double"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="uom" type="xsd:string" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="forNuclearEnergetics" minOccurs="0"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Для АЭС"></xsd:enumeration>
								<xsd:enumeration value="Не для АЭС"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="spz" type="xsd:string" minOccurs="0"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Шифр производственных затрат
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="re-Inspection" minOccurs="0"
						maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="С первого предъявления">
								</xsd:enumeration>
								<xsd:enumeration value="Со второго предъявления">
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="guiltyDepartment" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="competenceStepValue" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="normTime" type="xsd:double"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="workDescription" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="competenceName" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="usedEquipment" type="tns:Equipment"
						minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="SheetLines">
				<xsd:sequence>
					<xsd:element name="sheetLine" type="tns:SheetLine"
						minOccurs="0" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="WorkSheetDetail">
				<xsd:sequence>
					<xsd:element name="workSheetNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="workSheetId" type="xsd:long"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftJobId" type="xsd:long"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftJobNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="wipEntityNum" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="site" type="xsd:string" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftNum" type="xsd:int" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="executor" type="tns:Worker"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="sheetLines" type="tns:SheetLines"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ActionResult">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:int" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="message" type="xsd:string"
						minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Equipment">
				<xsd:sequence>
					<xsd:element name="equipmentCode" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="equipmentName" type="xsd:string"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="WorkSheetSummary">
				<xsd:sequence>
					<xsd:element name="workSheetId" type="xsd:long"
						minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="workSheetNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftNum" type="xsd:int" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="executorName" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getShiftDetailByShift">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="shift" type="tns:Shift" minOccurs="1"
							maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getShiftDetailByShiftResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="shiftDetail" type="tns:ShiftDetail"
							minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Shift">
				<xsd:sequence>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftNum" minOccurs="1" maxOccurs="1"
						type="xsd:int">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShiftJobLine">
				<xsd:sequence>
					<xsd:element name="wipEntityNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="jobLineNum" type="xsd:int"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="operationCode" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="operationDescription" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="executor" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="planQuantity" type="xsd:double"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="normTime" type="xsd:double"
						minOccurs="0" maxOccurs="1"></xsd:element>
					<xsd:element name="completionQuantity" type="xsd:double"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="rejectingQuantity" type="xsd:double"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShiftJobLines">
				<xsd:sequence>
					<xsd:element name="shiftJoblines" type="tns:ShiftJobLine"
						minOccurs="0" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShiftJob">
				<xsd:sequence>
					<xsd:element name="shiftJobNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftNum" type="xsd:int" minOccurs="1"
						maxOccurs="1"></xsd:element>
					<xsd:element name="siteNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftJobLines" type="tns:ShiftJobLines"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShiftJobs">
				<xsd:sequence>
					<xsd:element name="shiftJobs" type="tns:ShiftJob"
						minOccurs="0" maxOccurs="unbounded"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShiftDetail">
				<xsd:sequence>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftDate" type="xsd:date"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftNum" type="xsd:int" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftJobs" type="tns:ShiftJobs"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ShiftJobSummary">
				<xsd:sequence>
					<xsd:element name="shiftJobNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="department" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="shiftNum" type="xsd:int" minOccurs="1"
						maxOccurs="1"></xsd:element>
					<xsd:element name="siteNum" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="findWorkSheetListByProfileRequest">
		<wsdl:part element="tns:findWorkSheetListByProfile" name="parameters" />
	</wsdl:message>
	<wsdl:message name="findWorkSheetListByProfileResponse">
		<wsdl:part element="tns:findWorkSheetListByProfileResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="getWorkSheetDetailByIdRequest">
		<wsdl:part name="parameters" element="tns:getWorkSheetDetailById"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getWorkSheetDetailByIdResponse">
		<wsdl:part name="parameters" element="tns:getWorkSheetDetailByIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateQuantityRequest">
		<wsdl:part name="parameters" element="tns:updateQuantity"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateQuantityResponse">
		<wsdl:part name="parameters" element="tns:updateQuantityResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="findShiftJobListByProfileRequest">
		<wsdl:part name="parameters" element="tns:findShiftJobListByProfile"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="findShiftJobListByProfileResponse">
		<wsdl:part name="parameters" element="tns:findShiftJobListByProfileResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getShiftJobDetailByNumRequest">
		<wsdl:part name="parameters" element="tns:getShiftJobDetailByNum"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getShiftJobDetailByNumResponse">
		<wsdl:part name="parameters" element="tns:getShiftJobDetailByNumResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getShiftDetailByShiftRequest">
		<wsdl:part name="parameters" element="tns:getShiftDetailByShift"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getShiftDetailByShiftResponse">
		<wsdl:part name="parameters" element="tns:getShiftDetailByShiftResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ShiftJobPortType">
		<wsdl:operation name="findWorkSheetListByProfile">
			<wsdl:input message="tns:findWorkSheetListByProfileRequest" />
			<wsdl:output message="tns:findWorkSheetListByProfileResponse" />
		</wsdl:operation>
		<wsdl:operation name="getWorkSheetDetailById">
			<wsdl:input message="tns:getWorkSheetDetailByIdRequest"></wsdl:input>
			<wsdl:output message="tns:getWorkSheetDetailByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateQuantity">
			<wsdl:input message="tns:updateQuantityRequest"></wsdl:input>
			<wsdl:output message="tns:updateQuantityResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findShiftJobListByProfile">
			<wsdl:input message="tns:findShiftJobListByProfileRequest"></wsdl:input>
			<wsdl:output message="tns:findShiftJobListByProfileResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getShiftJobDetailByNum">
			<wsdl:input message="tns:getShiftJobDetailByNumRequest"></wsdl:input>
			<wsdl:output message="tns:getShiftJobDetailByNumResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getShiftDetailByShift">
			<wsdl:input message="tns:getShiftDetailByShiftRequest"></wsdl:input>
			<wsdl:output message="tns:getShiftDetailByShiftResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ShiftJobBindingSOAP" type="tns:ShiftJobPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findWorkSheetListByProfile">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/findWorkSheetListByProfile" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWorkSheetDetailById">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/getWorkSheetDetailById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateQuantity">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/updateQuantity" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findShiftJobListByProfile">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/findShiftJobListByProfile" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getShiftJobDetailByNum">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/getShiftJobDetailByNum" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getShiftDetailByShift">
			<soap:operation
				soapAction="http://www.aztpa.ru/a/oaa/mfg/shiftjob/v03/getShiftDetailByShift" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ShiftJob">
		<wsdl:port binding="tns:ShiftJobBindingSOAP" name="ShiftJobPortSOAP">
			<soap:address
				location="http://lptest11.aztpa.ru:10102/A_OAA_MFG_ShiftJob_v03/ShiftJob" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
