@apps@/WebServices/WSA.0026/A_AK_ENG_BOM_v01_WS/WSDL/A_AK_ENG_BOM_v01.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.aztpa.ru/a/ak/eng/bom/v01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="A_AK_ENG_BOM_v01"
    targetNamespace="http://www.aztpa.ru/a/ak/eng/bom/v01/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.aztpa.ru/a/ak/eng/bom/v01/">
            <xsd:element name="findBomByProfile">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="profile" type="tns:BomProfile"
                            minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="findBomByProfileResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bomList" type="tns:BomList"
                            minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="countBomByProfile">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="profile" type="tns:BomProfile"
                            minOccurs="1" maxOccurs="1"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="countBomByProfileResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="count" type="xsd:int" minOccurs="1"
                            maxOccurs="1"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="BomProfile">
                <xsd:sequence>
                    <xsd:element name="assemblyFigure" type="xsd:string"
                        minOccurs="0" maxOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BomLine">
                <xsd:sequence>
                    <xsd:element name="lineNum" type="xsd:int" minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="compFigure" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="compName" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="quantity" type="xsd:double"
                        minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BomLines">
                <xsd:sequence>
                    <xsd:element name="line" type="tns:BomLine" minOccurs="0"
                        maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BomSection">
                <xsd:sequence>
                    <xsd:element name="sectionOrder" type="xsd:int"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="sectionName" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="lines" type="tns:BomLines"
                        minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BomSections">
                <xsd:sequence>
                    <xsd:element name="section" type="tns:BomSection"
                        minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Bom">
                <xsd:sequence>
                    <xsd:element name="assemblyFigure" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="assemblyName" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="sections" type="tns:BomSections"
                        minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BomList">
                <xsd:sequence>
                    <xsd:element name="bom" type="tns:Bom" minOccurs="0"
                        maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="findBomByProfileRequest">
        <wsdl:part element="tns:findBomByProfile" name="parameters" />
    </wsdl:message>

    <wsdl:message name="findBomByProfileResponse">
        <wsdl:part element="tns:findBomByProfileResponse" name="parameters" />
    </wsdl:message>

    <wsdl:message name="countBomByProfileRequest">
        <wsdl:part name="parameters" element="tns:countBomByProfile"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="countBomByProfileResponse">
        <wsdl:part name="parameters" element="tns:countBomByProfileResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="BOMPortType">
        <wsdl:operation name="findBomByProfile">
            <wsdl:input message="tns:findBomByProfileRequest" />
            <wsdl:output message="tns:findBomByProfileResponse" />
        </wsdl:operation>
        <wsdl:operation name="countBomByProfile">
            <wsdl:input message="tns:countBomByProfileRequest"></wsdl:input>
            <wsdl:output message="tns:countBomByProfileResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BOMBindingSOAP" type="tns:BOMPortType">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="findBomByProfile">
            <soap:operation
                soapAction="http://www.aztpa.ru/a/ak/eng/bom/v01/findBomByProfile" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="countBomByProfile">
            <soap:operation
                soapAction="http://www.aztpa.ru/a/ak/eng/bom/v01/countBomByProfile" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BOM">
        <wsdl:port binding="tns:BOMBindingSOAP" name="BOMPortSOAP">
            <!-- http://localhost:7001/A_AK_ENG_BOM_v01/BOM -->
            <soap:address location="http://webserv.aztpa.ru:13001/A_AK_ENG_BOM_v01/BOM" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
